extends base

block content
    .pusher.full-height
        .full-height(flex='')
            div(flex-box='0', style='width: 260px;')
                .ui.visible.inverted.left.vertical.sidebar.menu
                    //ko if: list_loading
                    .ui(style='height: 100%;')
                        .ui.active.dimmer
                            .ui.loader
                    ///ko
                    //ko ifnot: list_loading
                    a.item.disabled(href='javascript:;') 选择要查看的app
                    ///ko

                    //ko ifnot: has_group
                    //ko foreach: app_list
                    a.item(href='#', data-bind='text: name, click: show')
                    ///ko
                    ///ko

                    //ko if: has_group
                    //ko foreach: group_app_list().keys
                    .item
                        .header(data-bind='text: $data')
                        .menu(data-bind='foreach: $root.group_app_list().origin[$data]')
                            a.item(href='#', data-bind='text: name, click: show')
                    ///ko
                    ///ko
            .full-height(flex='dir:top', flex-box='1')
                //ko if: view_app
                .ui.segment(flex-box='0', style='padding: 10px;', data-bind='with: view_app')
                    h1(data-bind='text: name', style='padding: 0 0 0 15px; margin: 0;')
                    //ko if: $root.loading
                    .ui.active.inverted.dimmer
                        .ui.loader.large
                    ///ko
                    .ui.top.attached.menu
                        .ui.dropdown.icon.item
                            .text 操作
                            .menu
                                //ko if: git
                                .item(data-bind='click: pull')
                                    i.git.icon.mr5
                                    | 同步
                                .item(data-bind='click: list_commit')
                                    i.git.icon.mr5
                                    | 回滚
                                ///ko
                                //ko if: mode() != 'fork_mode'
                                .item(data-bind='click: reload')
                                    i.refresh.icon.mr5
                                    | 重载
                                ///ko
                                .item(data-bind='click: restart')
                                    i.repeat.icon.mr5
                                    | 重启
                        .ui.dropdown.icon.item
                            .text 日志
                            .menu
                                .item(data-bind='click: clear_log')
                                    i.trash.outline.icon.mr5
                                    | 清空
                                .item(data-bind='trigger: pause')
                                    //ko ifnot: pause
                                    i.pause.icon.mr5
                                    | 暂停
                                    ///ko
                                    //ko if: pause
                                    i.play.icon.mr5
                                    | 开始
                                    ///ko
                        //ko if: git_version
                        .ui.item(data-bind='text: git_version')
                        .ui.item(data-bind='text: git_source')
                        .ui.item(data-bind='text: branch')
                        ///ko
                        //.right.menu
                        //    .ui.right.aligned.category.search.item
                        //        .ui.transparent.icon.input
                        //            input.prompt(type='text', placeholder='日志过滤正则')
                        //            i.search.link.icon
                        //        .results
                    .ui.bottom.attached.segment.scroll-panel-body(style='height: 50vh;')
                        pre(data-bind='textBottom: output')
                ///ko

                .scroll-panel-body(flex-box='1', style='padding: 10px;')
                    pre(data-bind='textBottom: log')

    #commits.ui.modal
        i.close.icon
        .header 请选择要回滚的版本
        .content
            .ui.list(data-bind='foreach: commits')
                .item
                    i.git.square.icon
                    .content
                        a.header(href='#', data-bind='text: id, click: rollback')
                        .description(data-bind='text: msg')
                        .description(data-bind='text: time')

block script
    script(type='text/javascript', src='/static/js/index.js')